@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --background: #03020b;
  }
}

body {
  background: var(--background);
  font-family:  Helvetica, sans-serif;
}

.gradient-border {
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #00000000, #18CD88, #00000000);
}


